.box {
    width:300px;
    height:300px;
    padding:30px;
    margin:150px auto auto -150px;
    position: absolute;
    top:50%;
    left:50%;
    right:0;
    bottom:0;
    background: rgba(255,255,255,0.2);
}
.container{
    position:relative;
}
body{
    background-image: url(../../images/bgimg.jpg);
} 